<mat-toolbar class="bgHeader">
    <ul>
        <button mat-button routerLink="home">home</button>
    </ul>
    <span class="headerSpacer"></span>
    <ul>
        <button mat-button routerLink="register-class">register class</button>
        <button mat-button routerLink="register-estudent">register estudent</button>
        <button mat-button routerLink="register-subject">register subject</button>
        <button mat-button routerLink="register-teacher">register teacher</button>
    </ul>
</mat-toolbar>